package util

var headDependeciesHandler = templ.NewOnceHandle()

templ HeadDependecies() {
	@headDependeciesHandler.Once() {
		// TODO: Handle for production!
		<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
	}
}
