:root,
:host {
    --font-family-emoji:
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-family-sans-serif:
        system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica,
        Arial, "Helvetica Neue", sans-serif, var(--font-family-emoji);
    --font-family-monospace:
        ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
        "Liberation Mono", monospace, var(--font-family-emoji);
    --font-family: "Plus Jakarta Sans Variable", var(--font-family-sans-serif);
    --font-size: 100%;
    --font-weight: 400;
    --line-height: 1.5;
}

@media (min-width: 576px) {
    :root,
    :host {
        --font-size: 106.25%;
    }
}

@media (min-width: 768px) {
    :root,
    :host {
        --font-size: 112.5%;
    }
}

@media (min-width: 1024px) {
    :root,
    :host {
        --font-size: 118.75%;
    }
}

@media (min-width: 1280px) {
    :root,
    :host {
        --font-size: 125%;
    }
}

@media (min-width: 1536px) {
    :root,
    :host {
        --font-size: 131.25%;
    }
}

:root:not([data-theme]),
:host(:not([data-theme])),
[data-theme="light"] {
    color-scheme: light;
    --background-color: #dcd0d0;
    --primary-background-color: #d4c4c4;
    --secondary-background-color: #ccb8b8;
    --color-text: #211c1e;
    --primary-color: #e4572e;
    --secondary-color: #ffc914;

    .theme__switcher svg {
        &:first-child {
            display: none;
        }

        &:last-child {
            display: block;
        }
    }
}

[data-theme="dark"] {
    color-scheme: dark;
    --background-color: #211c1e;
    --primary-background-color: #2c2628;
    --secondary-background-color: #372f32;
    --color-text: #dcd0d0;
    --primary-color: #e4572e;
    --secondary-color: #ffc914;

    .theme__switcher svg {
        &:first-child {
            display: block;
            visibility: visible;
        }

        &:last-child {
            display: none;
            visibility: hidden;
        }
    }
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]),
    :host(:not([data-theme])),
    [data-theme="dark"] {
        color-scheme: dark;
        --background-color: #211c1e;
        --primary-background-color: #2c2628;
        --secondary-background-color: #372f32;
        --color-text: #dcd0d0;
        --primary-color: #e4572e;
        --secondary-color: #ffc914;

        .theme__switcher svg {
            &:first-child {
                display: block;
                visibility: visible;
            }

            &:last-child {
                display: none;
                visibility: hidden;
            }
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

:where(:root),
:where(:host) {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    background-color: var(--background-color);
    color: var(--color-text);
}

body {
    width: 100%;
    margin: 0;
}

[role="link"] {
    outline: none;
}

[role="link"]:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ) {
    color: var(--primary-color);
}

svg {
    width: auto;
    fill: currentColor;
}

button {
    cursor: pointer;
    border-radius: 1.5rem;
    border: 0;
}
