package content

import (
	"bbelial/model"
	"bbelial/template/component"
)

templ Post(post model.Post) {
	@component.Base(post.Title) {
		<title>{ post.Title }</title>
		<article>
			@post.Content
		</article>
	}
}
