package static

import (
	"bbelial/model"
	"bbelial/template/component"
	"bbelial/template/util"
)

templ Home(postData []model.PostData) {
	@component.Base("Home") {
		<main id="home">
			<section>
				<h1>Belial</h1>
				@util.Logo()
			</section>

			<section id="article">
				for _, post := range postData {
					@PostQuery(post)
				}
			</section>
		</main>
	}
}
